<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>Admin panel</title>
<!--  <link rel="stylesheet" type="text/css"-->
<!--        th:href="@{/css/style.css}"/>-->
</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-2" href="/admin">
    <span class="font-weight-bold" th:utext="${userCurrent.username}">USERNAME</span>
    <span class="font-weight-normal"> with roles: </span>
    <span class="font-weight-normal" th:text="${userCurrent.getRolesToString()}">ROLE</span>
  </a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-right">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
  </ul>
</nav>
</br>
</br>
<div class="container-fluid">
  <div class="row">
    <div class="col-2 p-0">
      <div class="bg-white vh-100">
        <nav class="nav nav-pills nav-fill nav flex-column mt-3">
          <a class="nav-link active" data-toggle="tab" href="#userCurrent">Admin</a>
          <a class="nav-link " data-toggle="tab" href="#user">User</a>
        </nav>
      </div>
    </div>

    <div class="col-sm-10 height: 1200 px" style="height: 1000px; background: #F7F7F7">
      <div class="tab-content">

        <div class="tab-pane fade show active" id="userCurrent">
          <div class="row">
            <div class="col-sm-12 p-3">
              <h1>Admin panel</h1>
              <div class="col">
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link active fade-in" data-toggle="tab" href="#usersTable">Users
                      table</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fade-in" data-toggle="tab" href="#newUser">New User</a>
                  </li>
                </ul>

                <div class="tab-content">
                  <div class="tab-pane fade show active" id="usersTable">
                    <div class="card">
                      <div class="card-header">
                        <h4 class="card-title br-light">All Users</h4>
                      </div>
                      <div class="card-body">
                        <div class="tab-content table-responsive">
                          <table class="table table-striped table-sm">
                            <thead>
                            <tr>
                              <th>ID</th>
                              <th>User Name</th>
                              <th>First Name</th>
                              <th>Last Name</th>
                              <th>Age</th>
                              <th>Email</th>
                              <th>Role</th>
                              <th>Edit</th>
                              <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user:${users}">
                              <td th:utext="${user.getId()}">id</td>
                              <td th:utext="${user.getUsername()}">username</td>
                              <td th:utext="${user.getFirstname()}">firstname</td>
                              <td th:utext="${user.getLastname()}">lastname</td>
                              <td th:utext="${user.getAge()}">age</td>
                              <td th:utext="${user.getEmail()}">email</td>
                              <td th:utext="${user.getRolesToString()}">role</td>
                              <td>
                                <!-- Кнопка открывающая модальное окно редактирования пользователя -->
                                <button type="button" class="btn btn-info"
                                        data-toggle="modal"
                                        th:data-target="${'#edit' + user.id}">Edit
                                </button>
                                <!-- Модальное окно редактирования пользователя -->
                                <div class="modal fade"
                                     th:id="'edit' + ${user.id}" tabindex="-1">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title">Edit user</h5>
                                        <button type="button" class="close"
                                                data-dismiss="modal"
                                                aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <form class="text-center"
                                              style="width: 220px; margin: auto"
                                              th:method="PATCH"
                                              th:action="@{/admin/{id}(id=${user.id})}"
                                              th:object="${user}"
                                              th:id="${'editForm' + user.id}">
                                          <!-- USERNAME -->
                                          <div class="form-group">
                                            <label for="username"><b>Username</b></label>
                                            <input type="text"
                                                   style="height:30px"
                                                   class="form-control"
                                                   th:value="${user.username}"
                                                   name="username"
                                                   id="username">
                                            <br/>
                                          </div>

                                          <!-- FIRSTNAME -->
                                          <label for="firstname"
                                                 class="col-form-label font-weight-bold">First
                                            name
                                          </label>
                                          <input type="text"
                                                 style="height:30px"
                                                 class="form-control"
                                                 th:value="${user.firstname}"
                                                 name="firstname"
                                                 id="firstname">
                                          <br/>

                                          <!-- LASTNAME -->
                                          <label for="lastname"><b>Last
                                            name</b></label>
                                          <input type="text"
                                                 style="height:30px"
                                                 class="form-control"
                                                 th:value="${user.lastname}"
                                                 name="lastname"
                                                 id="lastname">
                                          <br/>

                                          <!-- AGE -->
                                          <label for="age"><b>Age</b></label>
                                          <input type="text"
                                                 style="height:30px"
                                                 class="form-control"
                                                 th:value="${user.age}"
                                                 name="age"
                                                 id="age">
                                          <br/>

                                          <!-- EMAIL -->
                                          <label for="email"><b>Email</b></label>
                                          <input type="text"
                                                 style="height:30px"
                                                 class="form-control"
                                                 th:value="${user.email}"
                                                 name="email"
                                                 id="email">
                                          <br/>

                                          <!-- PASSWORD -->
                                          <label for="password"><b>Password</b></label>
                                          <input type="password"
                                                 style="height:30px"
                                                 class="form-control"
                                                 th:value="${user.password}"
                                                 name="password"
                                                 id="password">
                                          <br/>

                                          <!-- ROLES -->
                                          <div class="form-group">
                                            <label for="roles"
                                                   class="col-form-label font-weight-bold">Roles</label>
                                            <select class="form-control form-control-sm"
                                                    name="roles"
                                                    id="roles"
                                                    multiple="multiple"
                                                    size="2" required>
                                              <option th:each="rol : ${roles}"
                                                      th:text="${rol.toString()}"
                                                      th:value="${rol.role}"
                                                      th:selected="rol">
                                                <th:block
                                                        th:text="${rol.toString()}">
                                                </th:block>
                                              </option>
                                            </select>
                                          </div>
                                        </form>
                                        <br/>
                                      </div>
                                      <div class="modal-footer">

                                        <button type="button"
                                                class="btn btn-secondary"
                                                data-dismiss="modal">Close
                                        </button>
                                        <input type="submit"
                                               th:form="${'editForm' + user.id}"
                                               class="btn btn-primary"
                                               value="Edit"/>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                              </td>
                              <td>
                                <!-- Кнопка открывающая модальное окно удаления пользователя -->
                                <button type="button" class="btn btn-danger"
                                        data-toggle="modal"
                                        th:data-target="${'#delete' + user.id}">Delete
                                </button>

                                <!-- Модальное окно удаления пользователя -->
                                <div class="modal fade"
                                     th:id="'delete' + ${user.id}"
                                     tabindex="-1">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title">Delete user</h5>
                                        <button type="button" class="close"
                                                data-dismiss="modal"
                                                aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <form class="text-center"
                                              style="width: 220px; margin: auto"
                                              th:method="DELETE"
                                              th:action="@{/admin/{id}(id=${user.id})}"
                                              th:object="${user}"
                                              th:id="${'deleteForm' + user.id}">
                                          <!-- USERNAME -->
                                          <div class="form-group">
                                            <label for="deleteUsername"><b>Username</b></label>
                                            <input type="text"
                                                   style="height:30px"
                                                   class="form-control"
                                                   th:value="${user.username}"
                                                   name="deleteUsername"
                                                   id="deleteUsername">
                                            <br/>
                                          </div>

                                          <!-- FIRSTNAME -->
                                          <label for="deleteFirstname"
                                                 class="col-form-label font-weight-bold">First
                                            name
                                          </label>
                                          <input type="text"
                                                 style="height:30px"
                                                 class="form-control"
                                                 th:value="${user.firstname}"
                                                 name="deleteFirstname"
                                                 id="deleteFirstname">
                                          <br/>

                                          <!-- LASTNAME -->
                                          <label for="deleteLastname"><b>Last
                                            name</b></label>
                                          <input type="text"
                                                 style="height:30px"
                                                 class="form-control"
                                                 th:value="${user.lastname}"
                                                 name="deleteLastname"
                                                 id="deleteLastname">
                                          <br/>

                                          <!-- AGE -->
                                          <label for="deleteAge"><b>Age</b></label>
                                          <input type="text"
                                                 style="height:30px"
                                                 class="form-control"
                                                 th:value="${user.age}"
                                                 name="deleteAge"
                                                 id="deleteAge">
                                          <br/>

                                          <!-- EMAIL -->
                                          <label for="deleteEmail"><b>Email</b></label>
                                          <input type="text"
                                                 style="height:30px"
                                                 class="form-control"
                                                 th:value="${user.email}"
                                                 name="deleteEmail"
                                                 id="deleteEmail">
                                          <br/>

                                          <!-- PASSWORD -->
                                          <label for="deletePassword"><b>Password</b></label>
                                          <input type="password"
                                                 style="height:30px"
                                                 class="form-control"
                                                 th:value="${user.password}"
                                                 name="deletePassword"
                                                 id="deletePassword">
                                          <br/>

                                          <!-- ROLES -->
                                          <div class="form-group">
                                            <fieldset disabled>
                                              <label for="deleteRoles"
                                                     class="col-form-label font-weight-bold">Roles</label>
                                              <select class="form-control form-control-sm"
                                                      name="deleteRoles"
                                                      id="deleteRoles"
                                                      multiple="multiple"
                                                      size="2" required>
                                                <option th:each="rol : ${roles}"
                                                        th:text="${rol.toString()}"
                                                        th:value="${rol.role}">
                                                  <th:block
                                                          th:text="${rol.toString()}">
                                                  </th:block>
                                                </option>
                                              </select>
                                            </fieldset>
                                          </div>
                                        </form>
                                        <br/>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button"
                                                class="btn btn-secondary"
                                                data-dismiss="modal">Close
                                        </button>
                                        <input type="submit"
                                               th:form="${'deleteForm' + user.id}"
                                               class="btn btn-danger"
                                               value="Delete"/>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade show" id="newUser">
                    <div class="card">
                      <div class="card-header">
                        <h4 class="card-title br-light">Add new user</h4>
                      </div>
                      <div class="card-body">
                        <div class="text-center container">
                          <form style="width:390px; margin: auto" th:method="POST"
                                th:action="@{/admin}" th:object="${newUser}">
                            <label for="newUsername"><b>Username</b></label>
                            <input type="text" class="form-control"
                                   th:field="${newUser.username}" id="newUsername">
                            <div class="invalid-feedback">
                              Please enter a valid username for shipping updates.
                            </div>
                            <br/>

                            <label for="newFirstname"><b>First name</b></label>
                            <input type="text" class="form-control"
                                   th:field="${newUser.firstname}" id="newFirstname">
                            <div class="invalid-feedback">
                              Please enter a valid firstname for shipping updates.
                            </div>
                            <br/>

                            <label for="newLastname"><b>Last name</b></label>
                            <input type="text" class="form-control"
                                   th:field="${newUser.lastname}" id="newLastname">
                            <div class="invalid-feedback">
                              Please enter a valid lastname for shipping updates.
                            </div>
                            <br/>

                            <label for="newAge"><b>Age</b></label>
                            <input type="text" class="form-control"
                                   th:field="${newUser.age}" id="newAge">
                            <div class="invalid-feedback">
                              Please enter a valid age for shipping updates.
                            </div>
                            <br/>

                            <label for="newEmail"><b>Email</b></label>
                            <input type="text" class="form-control"
                                   th:field="${newUser.email}" id="newEmail">
                            <div class="invalid-feedback">
                              Please enter a valid email for shipping updates.
                            </div>
                            <br/>

                            <label for="newPassword"><b>Password</b></label>
                            <input type="text" class="form-control"
                                   th:field="${newUser.password}" id="newPassword">
                            <div class="invalid-feedback">
                              Please enter a valid password for shipping updates.
                            </div>
                            <br/>

                            <div class="form-group">
                              <label for="roles"><b>Roles</b></label>
                              <select class="custom-select"
                                      name="roles"
                                      id="newRoles"
                                      multiple="multiple"
                                      size="2">
                                <option th:each="rol : ${roles}"
                                        th:text="${rol.getNoPrefix()}"
                                        th:value="${rol.role}"/>
                              </select>
                            </div>

                            <input type="submit" class="btn btn-success"
                                   value="Add new user">

                          </form>
                        </div>
                        <br/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="user">
          <div class="col-sm-12 p-3">
            <h1>User information page</h1>
          </div>
          <div class="card">
            <div class="card-header">
              <h4 class="card-title br-light">About user</h4>
            </div>
            <div class="card-body tab-content table-striped table-responsive">
              <tr>
                <td>
                  <form th:method="GET" th:object="${userCurrent}">
                    <table class="table table-header table-hover bg-white" th:cols="9">
                      <thead class="thead align-content-center">
                      <tr class="b">
                        <th>ID</th>
                        <th>Username</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Role</th>

                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td th:text="${userCurrent.id}">ID</td>
                        <td th:text="${userCurrent.getUsername()}">Username</td>
                        <td th:text="${userCurrent.getFirstname()}">Firstname</td>
                        <td th:text="${userCurrent.getLastname()}">Lastname</td>
                        <td th:text="${userCurrent.getAge()}">Age</td>
                        <td th:text="${userCurrent.getEmail()}">Email</td>
                        <td><a th:each="role : ${userCurrent.getAuthorities()}">
                          <a th:text="${role.getAuthority()}">Roles</a>
                        </a></td>
                      </tr>
                      </tbody>
                    </table>
                  </form>
                </td>
              </tr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>